name: Docker Image CI

on:
  push:
    branches: [ main ]
    paths:
      - "server/**"
      - "Dockerfile"
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    
    - name: Docker Login
      uses: docker/login-action@v1.14.1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Docker Metadata action
      id: meta
      uses: docker/metadata-action@v3.6.2
      with:
        # List of Docker images to use as base name for tags
        images: ghcr.io/${{ github.repository }}

    - name: Build and push Docker images
      uses: docker/build-push-action@v2.10.0
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}

